/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* || Generic*/

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* || Navigation */

nav {
    width: 980px;
    margin: 0 auto;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    text-decoration: none;
}

.nav-links {
    padding: 10px 0;
    display: flex;
    width: 500px;
    justify-content: space-between;
}

.nav-links a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
    padding: 3px 5px;
}

.nav-links a:hover {
    border-bottom: 1px solid #e5e7eb;
}

/* || Hero Content */

header {
    background-color: #1f2937;
    padding-bottom: 50px;
}

.hero {
    margin: 0 auto;
    margin-top: 70px;
    width: 980px;
    display: flex;
    gap: 20px;
}

.hero-info h1 {
    font-size: 38px;
    font-weight: 900;
    color: #f9faf8;
}

.hero-info p {
    line-height: 1.25;
    margin-top: 30px;
    color: #e5e7eb;
    font-size: 14px;
}

.hero-info button {
    margin-top: 70px;
    color: #f9faf8;
    font-size: 18px;
    border: none;
    border-radius: 5px; 
    padding: 10px 40px;
    background-color: #3882f6;
}

.hero-info button:hover {
    cursor: pointer;
    color: #3882f6;
    background-color: #f9faf8;
}

.hero-img {
    width: 450px;
}

/* || Info section */

.info h2 {
    text-align: center;
    font-size: 24px;
    font-weight: 900;
    color: #1f2937;
    padding: 20px 0;
}

.info-container {
    width: 980px;
    margin: 0 auto;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-around;
}

.info-item {
    width: 200px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.info-item:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.info-item img {
    width: 200px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}

.info-item p {
    text-align: center;
    margin-top: 10px;
    padding: 10px;
}

/* || Quote section */

.quote {
    background-color: #e5e7eb;
    padding: 90px 0 70px 0;
}

.quote div {
    width: 800px;
    margin: 0 auto;
}

.quote blockquote {
    font-size: 32px;
    font-weight: 300;
    font-style: italic;
    color: #3a3f46;
}

.quote p {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    text-align: right;
}

/* || CTA section */

.cta-section {
    padding: 90px 0 70px 0;
}

.cta {
    width: 980px;
    margin: 0 auto;
    padding: 35px 0;
    background-color: #3882f6;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
}

.cta h3 {
    color:#e5e7eb;
    font-size: 18px;
    font-weight: 900;
}

.cta p {
    color:#e5e7eb;
    font-size: 14px;
}

.cta button {
    font-size: 16px;
    padding: 8px 20px;
    color:#e5e7eb;
    border: 2px solid #e5e7eb;
    border-radius: 5px;
    background-color: #3882f6;
}

.cta button:hover {
    color:#3882f6;
    background-color: #e5e7eb;
}

/* || Footer */

footer {
    text-align: center;
    color:#e5e7eb;
    background-color: #1f2937;
    padding: 35px;
}

small {
    font-size: 14px;
}